# Numpy Tutorial 
## 楊家融
### Radiologist Programmer

In [1]:
import pandas as pd

## Read & write file

In [4]:
iris = pd.read_csv('../data/iris.csv')
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [8]:
iris.to_json('../data/iris.json')
iris.to_csv('../data/iris_output.csv')

## Homework A
1. Tell the difference of the two files: iris.csv and iris_output.csv  
2. How two save the dataframe to iris_output.csv exactly the same with iris.csv

## Columns

In [14]:
# Set columns
iris.columns = ['A', 'B', 'C', 'D', 'class'] 
iris

       A    B    C    D      class
0    5.1  3.5  1.4  0.2     Setosa
1    4.9  3.0  1.4  0.2     Setosa
2    4.7  3.2  1.3  0.2     Setosa
3    4.6  3.1  1.5  0.2     Setosa
4    5.0  3.6  1.4  0.2     Setosa
5    5.4  3.9  1.7  0.4     Setosa
6    4.6  3.4  1.4  0.3     Setosa
7    5.0  3.4  1.5  0.2     Setosa
8    4.4  2.9  1.4  0.2     Setosa
9    4.9  3.1  1.5  0.1     Setosa
10   5.4  3.7  1.5  0.2     Setosa
11   4.8  3.4  1.6  0.2     Setosa
12   4.8  3.0  1.4  0.1     Setosa
13   4.3  3.0  1.1  0.1     Setosa
14   5.8  4.0  1.2  0.2     Setosa
15   5.7  4.4  1.5  0.4     Setosa
16   5.4  3.9  1.3  0.4     Setosa
17   5.1  3.5  1.4  0.3     Setosa
18   5.7  3.8  1.7  0.3     Setosa
19   5.1  3.8  1.5  0.3     Setosa
20   5.4  3.4  1.7  0.2     Setosa
21   5.1  3.7  1.5  0.4     Setosa
22   4.6  3.6  1.0  0.2     Setosa
23   5.1  3.3  1.7  0.5     Setosa
24   4.8  3.4  1.9  0.2     Setosa
25   5.0  3.0  1.6  0.2     Setosa
26   5.0  3.4  1.6  0.4     Setosa
27   5.2  3.5  1.5  0.2     Setosa
28   5.2  3.4  1.4  0.2     Setosa
29   4.7  3.2  1.6  0.2     Setosa
..   ...  ...  ...  ...        ...
120  6.9  3.2  5.7  2.3  Virginica
121  5.6  2.8  4.9  2.0  Virginica
122  7.7  2.8  6.7  2.0  Virginica
123  6.3  2.7  4.9  1.8  Virginica
124  6.7  3.3  5.7  2.1  Virginica
125  7.2  3.2  6.0  1.8  Virginica
126  6.2  2.8  4.8  1.8  Virginica
127  6.1  3.0  4.9  1.8  Virginica
128  6.4  2.8  5.6  2.1  Virginica
129  7.2  3.0  5.8  1.6  Virginica
130  7.4  2.8  6.1  1.9  Virginica
131  7.9  3.8  6.4  2.0  Virginica
132  6.4  2.8  5.6  2.2  Virginica
133  6.3  2.8  5.1  1.5  Virginica
134  6.1  2.6  5.6  1.4  Virginica
135  7.7  3.0  6.1  2.3  Virginica
136  6.3  3.4  5.6  2.4  Virginica
137  6.4  3.1  5.5  1.8  Virginica
138  6.0  3.0  4.8  1.8  Virginica
139  6.9  3.1  5.4  2.1  Virginica
140  6.7  3.1  5.6  2.4  Virginica
141  6.9  3.1  5.1  2.3  Virginica
142  5.8  2.7  5.1  1.9  Virginica
143  6.8  3.2  5.9  2.3  Virginica
144  6.7  3.3  5.7  2.5  Virginica
145  6.7  3.0  5.2  2.3  Virginica
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica

[150 rows x 5 columns]

In [15]:
# change column order
iris[['A', 'C', 'D', 'B', 'class']]

       A    C    D    B      class
0    5.1  1.4  0.2  3.5     Setosa
1    4.9  1.4  0.2  3.0     Setosa
2    4.7  1.3  0.2  3.2     Setosa
3    4.6  1.5  0.2  3.1     Setosa
4    5.0  1.4  0.2  3.6     Setosa
5    5.4  1.7  0.4  3.9     Setosa
6    4.6  1.4  0.3  3.4     Setosa
7    5.0  1.5  0.2  3.4     Setosa
8    4.4  1.4  0.2  2.9     Setosa
9    4.9  1.5  0.1  3.1     Setosa
10   5.4  1.5  0.2  3.7     Setosa
11   4.8  1.6  0.2  3.4     Setosa
12   4.8  1.4  0.1  3.0     Setosa
13   4.3  1.1  0.1  3.0     Setosa
14   5.8  1.2  0.2  4.0     Setosa
15   5.7  1.5  0.4  4.4     Setosa
16   5.4  1.3  0.4  3.9     Setosa
17   5.1  1.4  0.3  3.5     Setosa
18   5.7  1.7  0.3  3.8     Setosa
19   5.1  1.5  0.3  3.8     Setosa
20   5.4  1.7  0.2  3.4     Setosa
21   5.1  1.5  0.4  3.7     Setosa
22   4.6  1.0  0.2  3.6     Setosa
23   5.1  1.7  0.5  3.3     Setosa
24   4.8  1.9  0.2  3.4     Setosa
25   5.0  1.6  0.2  3.0     Setosa
26   5.0  1.6  0.4  3.4     Setosa
27   5.2  1.5  0.2  3.5     Setosa
28   5.2  1.4  0.2  3.4     Setosa
29   4.7  1.6  0.2  3.2     Setosa
..   ...  ...  ...  ...        ...
120  6.9  5.7  2.3  3.2  Virginica
121  5.6  4.9  2.0  2.8  Virginica
122  7.7  6.7  2.0  2.8  Virginica
123  6.3  4.9  1.8  2.7  Virginica
124  6.7  5.7  2.1  3.3  Virginica
125  7.2  6.0  1.8  3.2  Virginica
126  6.2  4.8  1.8  2.8  Virginica
127  6.1  4.9  1.8  3.0  Virginica
128  6.4  5.6  2.1  2.8  Virginica
129  7.2  5.8  1.6  3.0  Virginica
130  7.4  6.1  1.9  2.8  Virginica
131  7.9  6.4  2.0  3.8  Virginica
132  6.4  5.6  2.2  2.8  Virginica
133  6.3  5.1  1.5  2.8  Virginica
134  6.1  5.6  1.4  2.6  Virginica
135  7.7  6.1  2.3  3.0  Virginica
136  6.3  5.6  2.4  3.4  Virginica
137  6.4  5.5  1.8  3.1  Virginica
138  6.0  4.8  1.8  3.0  Virginica
139  6.9  5.4  2.1  3.1  Virginica
140  6.7  5.6  2.4  3.1  Virginica
141  6.9  5.1  2.3  3.1  Virginica
142  5.8  5.1  1.9  2.7  Virginica
143  6.8  5.9  2.3  3.2  Virginica
144  6.7  5.7  2.5  3.3  Virginica
145  6.7  5.2  2.3  3.0  Virginica
146  6.3  5.0  1.9  2.5  Virginica
147  6.5  5.2  2.0  3.0  Virginica
148  6.2  5.4  2.3  3.4  Virginica
149  5.9  5.1  1.8  3.0  Virginica

[150 rows x 5 columns]

In [30]:
# select by column
iris['A']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: A, Length: 150, dtype: float64

In [32]:
# Select by index
iris.loc[[1, 11, 21]]

      A    B    C    D   class
1   4.9  3.0  1.4  0.2  Setosa
11  4.8  3.4  1.6  0.2  Setosa
21  5.1  3.7  1.5  0.4  Setosa

In [33]:
# Select by column and index
iris.loc[[1, 11, 21], ['A', 'B']]

      A    B
1   4.9  3.0
11  4.8  3.4
21  5.1  3.7

In [26]:
# Select by location
iris.iloc[0:10]

     A    B    C    D   class
0  5.1  3.5  1.4  0.2  Setosa
1  4.9  3.0  1.4  0.2  Setosa
2  4.7  3.2  1.3  0.2  Setosa
3  4.6  3.1  1.5  0.2  Setosa
4  5.0  3.6  1.4  0.2  Setosa
5  5.4  3.9  1.7  0.4  Setosa
6  4.6  3.4  1.4  0.3  Setosa
7  5.0  3.4  1.5  0.2  Setosa
8  4.4  2.9  1.4  0.2  Setosa
9  4.9  3.1  1.5  0.1  Setosa

In [28]:
# Select by location
iris.iloc[0:10, 0:2]

     A    B
0  5.1  3.5
1  4.9  3.0
2  4.7  3.2
3  4.6  3.1
4  5.0  3.6
5  5.4  3.9
6  4.6  3.4
7  5.0  3.4
8  4.4  2.9
9  4.9  3.1

In [29]:
# Boolean
iris['A'] > 7

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120    False
121    False
122     True
123    False
124    False
125     True
126    False
127    False
128    False
129     True
130     True
131     True
132    False
133    False
134    False
135     True
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: A, Length: 150, dtype: bool

In [22]:
# Select by value
iris[iris['A'] > 7]

       A    B    C    D      class
102  7.1  3.0  5.9  2.1  Virginica
105  7.6  3.0  6.6  2.1  Virginica
107  7.3  2.9  6.3  1.8  Virginica
109  7.2  3.6  6.1  2.5  Virginica
117  7.7  3.8  6.7  2.2  Virginica
118  7.7  2.6  6.9  2.3  Virginica
122  7.7  2.8  6.7  2.0  Virginica
125  7.2  3.2  6.0  1.8  Virginica
129  7.2  3.0  5.8  1.6  Virginica
130  7.4  2.8  6.1  1.9  Virginica
131  7.9  3.8  6.4  2.0  Virginica
135  7.7  3.0  6.1  2.3  Virginica

In [35]:
# Random sampling
sample = iris.sample(n=10)
sample

       A    B    C    D       class
63   6.1  2.9  4.7  1.4  Versicolor
9    4.9  3.1  1.5  0.1      Setosa
66   5.6  3.0  4.5  1.5  Versicolor
29   4.7  3.2  1.6  0.2      Setosa
111  6.4  2.7  5.3  1.9   Virginica
87   6.3  2.3  4.4  1.3  Versicolor
117  7.7  3.8  6.7  2.2   Virginica
52   6.9  3.1  4.9  1.5  Versicolor
32   5.2  4.1  1.5  0.1      Setosa
27   5.2  3.5  1.5  0.2      Setosa

In [25]:
# Random sampling by fraction
iris.sample(frac=0.05)

       A    B    C    D       class
58   6.6  2.9  4.6  1.3  Versicolor
70   5.9  3.2  4.8  1.8  Versicolor
40   5.0  3.5  1.3  0.3      Setosa
137  6.4  3.1  5.5  1.8   Virginica
66   5.6  3.0  4.5  1.5  Versicolor
141  6.9  3.1  5.1  2.3   Virginica
78   6.0  2.9  4.5  1.5  Versicolor
24   4.8  3.4  1.9  0.2      Setosa

## Feed to function

In [39]:
# assign
sample.assign(a_ten_times=sample['A']*10)

       A    B    C    D       class  a_ten_times
63   6.1  2.9  4.7  1.4  Versicolor         61.0
9    4.9  3.1  1.5  0.1      Setosa         49.0
66   5.6  3.0  4.5  1.5  Versicolor         56.0
29   4.7  3.2  1.6  0.2      Setosa         47.0
111  6.4  2.7  5.3  1.9   Virginica         64.0
87   6.3  2.3  4.4  1.3  Versicolor         63.0
117  7.7  3.8  6.7  2.2   Virginica         77.0
52   6.9  3.1  4.9  1.5  Versicolor         69.0
32   5.2  4.1  1.5  0.1      Setosa         52.0
27   5.2  3.5  1.5  0.2      Setosa         52.0

In [47]:
# apply--feed a column or row 
sample.iloc[:, 0:4].apply(sum)

A    59.0
B    31.7
C    36.6
D    10.4
dtype: float64

In [48]:
# apply--feed a column or row 
sample.iloc[:, 0:4].apply(sum, axis=1)

63     15.1
9       9.6
66     14.6
29      9.7
111    16.3
87     14.3
117    20.4
52     16.4
32     10.9
27     10.4
dtype: float64

In [64]:
# self defined function
def text_function(row):
    return 'class: {class}, A:{A}'.format(**row.to_dict())
    
sample.apply(text_function, axis=1)

63     class: Versicolor, A:6.1
9          class: Setosa, A:4.9
66     class: Versicolor, A:5.6
29         class: Setosa, A:4.7
111     class: Virginica, A:6.4
87     class: Versicolor, A:6.3
117     class: Virginica, A:7.7
52     class: Versicolor, A:6.9
32         class: Setosa, A:5.2
27         class: Setosa, A:5.2
dtype: object

In [68]:
# self defined function with arguments
def text_function(row, head):
    return head + 'class: {class}, A:{A}'.format(**row.to_dict())
    
sample.apply(text_function, args=('>>> ',),  axis=1)

63     >>> class: Versicolor, A:6.1
9          >>> class: Setosa, A:4.9
66     >>> class: Versicolor, A:5.6
29         >>> class: Setosa, A:4.7
111     >>> class: Virginica, A:6.4
87     >>> class: Versicolor, A:6.3
117     >>> class: Virginica, A:7.7
52     >>> class: Versicolor, A:6.9
32         >>> class: Setosa, A:5.2
27         >>> class: Setosa, A:5.2
dtype: object

In [69]:
# applymap--element wise function 
sample.iloc[:, 0:4].applymap(lambda x: x/100)

         A      B      C      D
63   0.061  0.029  0.047  0.014
9    0.049  0.031  0.015  0.001
66   0.056  0.030  0.045  0.015
29   0.047  0.032  0.016  0.002
111  0.064  0.027  0.053  0.019
87   0.063  0.023  0.044  0.013
117  0.077  0.038  0.067  0.022
52   0.069  0.031  0.049  0.015
32   0.052  0.041  0.015  0.001
27   0.052  0.035  0.015  0.002

In [70]:
# Itterate over rows
for row in iris.itertuples():
    print(row)

Pandas(Index=0, A=5.1, B=3.5, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=1, A=4.9, B=3.0, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=2, A=4.7, B=3.2, C=1.3, D=0.2, _5='Setosa')
Pandas(Index=3, A=4.6, B=3.1, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=4, A=5.0, B=3.6, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=5, A=5.4, B=3.9, C=1.7, D=0.4, _5='Setosa')
Pandas(Index=6, A=4.6, B=3.4, C=1.4, D=0.3, _5='Setosa')
Pandas(Index=7, A=5.0, B=3.4, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=8, A=4.4, B=2.9, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=9, A=4.9, B=3.1, C=1.5, D=0.1, _5='Setosa')
Pandas(Index=10, A=5.4, B=3.7, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=11, A=4.8, B=3.4, C=1.6, D=0.2, _5='Setosa')
Pandas(Index=12, A=4.8, B=3.0, C=1.4, D=0.1, _5='Setosa')
Pandas(Index=13, A=4.3, B=3.0, C=1.1, D=0.1, _5='Setosa')
Pandas(Index=14, A=5.8, B=4.0, C=1.2, D=0.2, _5='Setosa')
Pandas(Index=15, A=5.7, B=4.4, C=1.5, D=0.4, _5='Setosa')
Pandas(Index=16, A=5.4, B=3.9, C=1.3, D=0.4, _5='Setosa')
Pandas(Index=17, A=5.1, B=3.5, C=1.4, D=0.3, _5='Setosa')
Pandas(Index=18, A=5.7, B=3.8, C=1.7, D=0.3, _5='Setosa')
Pandas(Index=19, A=5.1, B=3.8, C=1.5, D=0.3, _5='Setosa')
Pandas(Index=20, A=5.4, B=3.4, C=1.7, D=0.2, _5='Setosa')
Pandas(Index=21, A=5.1, B=3.7, C=1.5, D=0.4, _5='Setosa')
Pandas(Index=22, A=4.6, B=3.6, C=1.0, D=0.2, _5='Setosa')
Pandas(Index=23, A=5.1, B=3.3, C=1.7, D=0.5, _5='Setosa')
Pandas(Index=24, A=4.8, B=3.4, C=1.9, D=0.2, _5='Setosa')
Pandas(Index=25, A=5.0, B=3.0, C=1.6, D=0.2, _5='Setosa')
Pandas(Index=26, A=5.0, B=3.4, C=1.6, D=0.4, _5='Setosa')
Pandas(Index=27, A=5.2, B=3.5, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=28, A=5.2, B=3.4, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=29, A=4.7, B=3.2, C=1.6, D=0.2, _5='Setosa')
Pandas(Index=30, A=4.8, B=3.1, C=1.6, D=0.2, _5='Setosa')
Pandas(Index=31, A=5.4, B=3.4, C=1.5, D=0.4, _5='Setosa')
Pandas(Index=32, A=5.2, B=4.1, C=1.5, D=0.1, _5='Setosa')
Pandas(Index=33, A=5.5, B=4.2, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=34, A=4.9, B=3.1, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=35, A=5.0, B=3.2, C=1.2, D=0.2, _5='Setosa')
Pandas(Index=36, A=5.5, B=3.5, C=1.3, D=0.2, _5='Setosa')
Pandas(Index=37, A=4.9, B=3.6, C=1.4, D=0.1, _5='Setosa')
Pandas(Index=38, A=4.4, B=3.0, C=1.3, D=0.2, _5='Setosa')
Pandas(Index=39, A=5.1, B=3.4, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=40, A=5.0, B=3.5, C=1.3, D=0.3, _5='Setosa')
Pandas(Index=41, A=4.5, B=2.3, C=1.3, D=0.3, _5='Setosa')
Pandas(Index=42, A=4.4, B=3.2, C=1.3, D=0.2, _5='Setosa')
Pandas(Index=43, A=5.0, B=3.5, C=1.6, D=0.6, _5='Setosa')
Pandas(Index=44, A=5.1, B=3.8, C=1.9, D=0.4, _5='Setosa')
Pandas(Index=45, A=4.8, B=3.0, C=1.4, D=0.3, _5='Setosa')
Pandas(Index=46, A=5.1, B=3.8, C=1.6, D=0.2, _5='Setosa')
Pandas(Index=47, A=4.6, B=3.2, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=48, A=5.3, B=3.7, C=1.5, D=0.2, _5='Setosa')
Pandas(Index=49, A=5.0, B=3.3, C=1.4, D=0.2, _5='Setosa')
Pandas(Index=50, A=7.0, B=3.2, C=4.7, D=1.4, _5='Versicolor')
Pandas(Index=51, A=6.4, B=3.2, C=4.5, D=1.5, _5='Versicolor')
Pandas(Index=52, A=6.9, B=3.1, C=4.9, D=1.5, _5='Versicolor')
Pandas(Index=53, A=5.5, B=2.3, C=4.0, D=1.3, _5='Versicolor')
Pandas(Index=54, A=6.5, B=2.8, C=4.6, D=1.5, _5='Versicolor')
Pandas(Index=55, A=5.7, B=2.8, C=4.5, D=1.3, _5='Versicolor')
Pandas(Index=56, A=6.3, B=3.3, C=4.7, D=1.6, _5='Versicolor')
Pandas(Index=57, A=4.9, B=2.4, C=3.3, D=1.0, _5='Versicolor')
Pandas(Index=58, A=6.6, B=2.9, C=4.6, D=1.3, _5='Versicolor')
Pandas(Index=59, A=5.2, B=2.7, C=3.9, D=1.4, _5='Versicolor')
Pandas(Index=60, A=5.0, B=2.0, C=3.5, D=1.0, _5='Versicolor')
Pandas(Index=61, A=5.9, B=3.0, C=4.2, D=1.5, _5='Versicolor')
Pandas(Index=62, A=6.0, B=2.2, C=4.0, D=1.0, _5='Versicolor')
Pandas(Index=63, A=6.1, B=2.9, C=4.7, D=1.4, _5='Versicolor')
Pandas(Index=64, A=5.6, B=2.9, C=3.6, D=1.3, _5='Versicolor')
Pandas(Index=65, A=6.7, B=3.1, C=4.4, D=1.4, _5='Versicolor')
Pandas(Index=66, A=5.6, B=3.0, C=4.5, D=1.5, _5='Versicolor')
Pandas(Index=67, A=5.8, B=2.7, C=4.1, D=1.0, _5='Versicolor')
Pandas(Index=68, A=6.2, B=2.2, C=4.5, D=1.5, _5='Versicolor')
Pandas(Index=69, A=5.6, B=2.5, C=3.9, D=1.1, _5='Versicolor')
Pandas(Index=70, A=5.9, B=3.2, C=4.8, D=1.8, _5='Versicolor')
Pandas(Index=71, A=6.1, B=2.8, C=4.0, D=1.3, _5='Versicolor')
Pandas(Index=72, A=6.3, B=2.5, C=4.9, D=1.5, _5='Versicolor')
Pandas(Index=73, A=6.1, B=2.8, C=4.7, D=1.2, _5='Versicolor')
Pandas(Index=74, A=6.4, B=2.9, C=4.3, D=1.3, _5='Versicolor')
Pandas(Index=75, A=6.6, B=3.0, C=4.4, D=1.4, _5='Versicolor')
Pandas(Index=76, A=6.8, B=2.8, C=4.8, D=1.4, _5='Versicolor')
Pandas(Index=77, A=6.7, B=3.0, C=5.0, D=1.7, _5='Versicolor')
Pandas(Index=78, A=6.0, B=2.9, C=4.5, D=1.5, _5='Versicolor')
Pandas(Index=79, A=5.7, B=2.6, C=3.5, D=1.0, _5='Versicolor')
Pandas(Index=80, A=5.5, B=2.4, C=3.8, D=1.1, _5='Versicolor')
Pandas(Index=81, A=5.5, B=2.4, C=3.7, D=1.0, _5='Versicolor')
Pandas(Index=82, A=5.8, B=2.7, C=3.9, D=1.2, _5='Versicolor')
Pandas(Index=83, A=6.0, B=2.7, C=5.1, D=1.6, _5='Versicolor')
Pandas(Index=84, A=5.4, B=3.0, C=4.5, D=1.5, _5='Versicolor')
Pandas(Index=85, A=6.0, B=3.4, C=4.5, D=1.6, _5='Versicolor')
Pandas(Index=86, A=6.7, B=3.1, C=4.7, D=1.5, _5='Versicolor')
Pandas(Index=87, A=6.3, B=2.3, C=4.4, D=1.3, _5='Versicolor')
Pandas(Index=88, A=5.6, B=3.0, C=4.1, D=1.3, _5='Versicolor')
Pandas(Index=89, A=5.5, B=2.5, C=4.0, D=1.3, _5='Versicolor')
Pandas(Index=90, A=5.5, B=2.6, C=4.4, D=1.2, _5='Versicolor')
Pandas(Index=91, A=6.1, B=3.0, C=4.6, D=1.4, _5='Versicolor')
Pandas(Index=92, A=5.8, B=2.6, C=4.0, D=1.2, _5='Versicolor')
Pandas(Index=93, A=5.0, B=2.3, C=3.3, D=1.0, _5='Versicolor')
Pandas(Index=94, A=5.6, B=2.7, C=4.2, D=1.3, _5='Versicolor')
Pandas(Index=95, A=5.7, B=3.0, C=4.2, D=1.2, _5='Versicolor')
Pandas(Index=96, A=5.7, B=2.9, C=4.2, D=1.3, _5='Versicolor')
Pandas(Index=97, A=6.2, B=2.9, C=4.3, D=1.3, _5='Versicolor')
Pandas(Index=98, A=5.1, B=2.5, C=3.0, D=1.1, _5='Versicolor')
Pandas(Index=99, A=5.7, B=2.8, C=4.1, D=1.3, _5='Versicolor')
Pandas(Index=100, A=6.3, B=3.3, C=6.0, D=2.5, _5='Virginica')
Pandas(Index=101, A=5.8, B=2.7, C=5.1, D=1.9, _5='Virginica')
Pandas(Index=102, A=7.1, B=3.0, C=5.9, D=2.1, _5='Virginica')
Pandas(Index=103, A=6.3, B=2.9, C=5.6, D=1.8, _5='Virginica')
Pandas(Index=104, A=6.5, B=3.0, C=5.8, D=2.2, _5='Virginica')
Pandas(Index=105, A=7.6, B=3.0, C=6.6, D=2.1, _5='Virginica')
Pandas(Index=106, A=4.9, B=2.5, C=4.5, D=1.7, _5='Virginica')
Pandas(Index=107, A=7.3, B=2.9, C=6.3, D=1.8, _5='Virginica')
Pandas(Index=108, A=6.7, B=2.5, C=5.8, D=1.8, _5='Virginica')
Pandas(Index=109, A=7.2, B=3.6, C=6.1, D=2.5, _5='Virginica')
Pandas(Index=110, A=6.5, B=3.2, C=5.1, D=2.0, _5='Virginica')
Pandas(Index=111, A=6.4, B=2.7, C=5.3, D=1.9, _5='Virginica')
Pandas(Index=112, A=6.8, B=3.0, C=5.5, D=2.1, _5='Virginica')
Pandas(Index=113, A=5.7, B=2.5, C=5.0, D=2.0, _5='Virginica')
Pandas(Index=114, A=5.8, B=2.8, C=5.1, D=2.4, _5='Virginica')
Pandas(Index=115, A=6.4, B=3.2, C=5.3, D=2.3, _5='Virginica')
Pandas(Index=116, A=6.5, B=3.0, C=5.5, D=1.8, _5='Virginica')
Pandas(Index=117, A=7.7, B=3.8, C=6.7, D=2.2, _5='Virginica')
Pandas(Index=118, A=7.7, B=2.6, C=6.9, D=2.3, _5='Virginica')
Pandas(Index=119, A=6.0, B=2.2, C=5.0, D=1.5, _5='Virginica')
Pandas(Index=120, A=6.9, B=3.2, C=5.7, D=2.3, _5='Virginica')
Pandas(Index=121, A=5.6, B=2.8, C=4.9, D=2.0, _5='Virginica')
Pandas(Index=122, A=7.7, B=2.8, C=6.7, D=2.0, _5='Virginica')
Pandas(Index=123, A=6.3, B=2.7, C=4.9, D=1.8, _5='Virginica')
Pandas(Index=124, A=6.7, B=3.3, C=5.7, D=2.1, _5='Virginica')
Pandas(Index=125, A=7.2, B=3.2, C=6.0, D=1.8, _5='Virginica')
Pandas(Index=126, A=6.2, B=2.8, C=4.8, D=1.8, _5='Virginica')
Pandas(Index=127, A=6.1, B=3.0, C=4.9, D=1.8, _5='Virginica')
Pandas(Index=128, A=6.4, B=2.8, C=5.6, D=2.1, _5='Virginica')
Pandas(Index=129, A=7.2, B=3.0, C=5.8, D=1.6, _5='Virginica')
Pandas(Index=130, A=7.4, B=2.8, C=6.1, D=1.9, _5='Virginica')
Pandas(Index=131, A=7.9, B=3.8, C=6.4, D=2.0, _5='Virginica')
Pandas(Index=132, A=6.4, B=2.8, C=5.6, D=2.2, _5='Virginica')
Pandas(Index=133, A=6.3, B=2.8, C=5.1, D=1.5, _5='Virginica')
Pandas(Index=134, A=6.1, B=2.6, C=5.6, D=1.4, _5='Virginica')
Pandas(Index=135, A=7.7, B=3.0, C=6.1, D=2.3, _5='Virginica')
Pandas(Index=136, A=6.3, B=3.4, C=5.6, D=2.4, _5='Virginica')
Pandas(Index=137, A=6.4, B=3.1, C=5.5, D=1.8, _5='Virginica')
Pandas(Index=138, A=6.0, B=3.0, C=4.8, D=1.8, _5='Virginica')
Pandas(Index=139, A=6.9, B=3.1, C=5.4, D=2.1, _5='Virginica')
Pandas(Index=140, A=6.7, B=3.1, C=5.6, D=2.4, _5='Virginica')
Pandas(Index=141, A=6.9, B=3.1, C=5.1, D=2.3, _5='Virginica')
Pandas(Index=142, A=5.8, B=2.7, C=5.1, D=1.9, _5='Virginica')
Pandas(Index=143, A=6.8, B=3.2, C=5.9, D=2.3, _5='Virginica')
Pandas(Index=144, A=6.7, B=3.3, C=5.7, D=2.5, _5='Virginica')
Pandas(Index=145, A=6.7, B=3.0, C=5.2, D=2.3, _5='Virginica')
Pandas(Index=146, A=6.3, B=2.5, C=5.0, D=1.9, _5='Virginica')
Pandas(Index=147, A=6.5, B=3.0, C=5.2, D=2.0, _5='Virginica')
Pandas(Index=148, A=6.2, B=3.4, C=5.4, D=2.3, _5='Virginica')
Pandas(Index=149, A=5.9, B=3.0, C=5.1, D=1.8, _5='Virginica')

## Homework B
### Why we should avoid using itertuples?
Design a simple function to work on one line
Compare the difference in speed between applyyy and itertuples